* {
	padding: 0;
	margin: 0;
	color: white;
	font-family: 'Lato', sans-serif;
}

body {
		background: #F6E39E;
}

#pexeso_container {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.piece {
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 5px;
	border-bottom: 5px solid #CB2A15;
	background: #D83621;
	text-align: center;
	padding: 15px;
	font-size: 150%;
	letter-spacing: 1px;
	cursor: pointer;
	color: white;

	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.piece.closed {
	background: #009F91;
	border-bottom: 5px solid #008E7F;
	height: 50px;
	padding-top: 90px;
	padding-bottom: 90px;
	font-size: 150%;
	font-weight: bold;
	color: white;
}

.piece.found {
	background: #273129;
	font-color: #0B486B;
	border-bottom: 5px solid #202A22;
	cursor: default;
	color: #FECA14;
}