* {
	padding: 0;
	margin: 0;
	color: white;
	font-family: 'Lato', sans-serif;
}

#pexeso_container {
	background: #CFF09E;
	display: block;
	margin: 0 auto;
	width: 100%;
}

.piece {
	width: 90px;
	height: 90px;
	display: inline-block;
	margin: 5px;
	border-bottom: 5px solid #79BD9A;
	background: #A8DBA8;
	text-align: center;
	padding: 5px;
	font-size: 100%;
	letter-spacing: 1px;
	cursor: pointer;

	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.piece.closed {
	background: #0B486B;
	border-bottom: 5px solid #3B8686;
	height: 40px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 150%;
	font-weight: bold;
}

.piece.found {
	background: #aaa;
	font-color: #0B486B;
	border-bottom: 5px solid #3B8686;
	cursor: default;
}